<a href="https://colab.research.google.com/github/junyeonlee/PortfolioProject/blob/main/Master_Normal_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mount GD,GS, JSON

In [ ]:
#mount GD, GS
#open gs - csv - df
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

from google.colab import drive
drive.mount('/content/drive') 

gc = gspread.authorize(creds)

#worksheet = gc.open('Master_Trello1').sheet1

Mounted at /content/drive

In [ ]:
worksheet = gc.open('Nomal Data').sheet1

In [ ]:
import pandas as pd
df = pd.DataFrame(worksheet.get_all_records())

#Normal Database

## Load Json 
- choose start date

In [ ]:
import json
import datetime
from datetime import datetime

#for 'remove backwards'
from tables import Cols
import re

In [ ]:
import json

#load New Json
file_address = '/content/today.json'
# file_address = '/content/trello_10_03.json'
with open(file_address) as f:
  data = json.load(f)

In [ ]:
from datetime import timedelta

In [ ]:
latestdate = max(df['Date'])
latestdate = pd.to_datetime(latestdate).date()
latestdate = str(latestdate + timedelta(days=1))
yesterday = str(datetime.now().date() - timedelta(days=1))

In [ ]:
#choose lastest df's latestdate
temp = []
# choost_list = [1,3,4,5,6,7,8,12,15,16,17]
#max(df['Date'])
for i in data['actions']:
  if i['date'] > latestdate and i['date'] <= yesterday : #lastestdate 
    temp.append(i)

data['actions'] = temp

In [ ]:
len(temp)

89

## Browse json

In [ ]:
type(max(df['Date']))

str

In [ ]:
type('2022-08-11')

str

In [ ]:
# print(json.dumps(data['actions'][12], indent = 2))

In [ ]:
# data['actions'][9]

## make updated_df

In [ ]:
def create_record (i): 
  if 'card' in action_key_list and 'list' in action_key_list and i['data']['list']['name'][:2] == '1.' :    
    action_ids.append(action_id)
    ##
    backlog_ckecker.append(action_id)

    action_date = i.get('date')
    day = pd.to_datetime(action_date)
    day = datetime.strftime(day, '%Y-%m-%d')  
    action_days.append(day)

    card_name = i_data['card'].get('name')
    card_names.append(card_name)

    list_name = i_data['list']['name'][:2]
    int_list_name = int(re.search(r'\d+', list_name).group())
    list_names.append(int_list_name)

  elif 'card' in action_key_list and 'list' in action_key_list and 'cardSource' in action_key_list :
    action_ids.append(action_id)
    backlog_ckecker.append(action_id)

    action_date = i.get('date')
    day = pd.to_datetime(action_date)
    day = datetime.strftime(day, '%Y-%m-%d')  
    action_days.append(day)

    card_name = i_data['card'].get('name')
    card_names.append(card_name)

    list_name = i_data['list']['name'][:2]
    int_list_name = int(re.search(r'\d+', list_name).group())
    list_names.append(int_list_name)
    backward_checker.append([len(card_names),action_id,day,int_list_name])

  elif 'card' in action_key_list and 'listAfter' in action_key_list :
    action_date = i.get('date')
    day = pd.to_datetime(action_date)
    day = datetime.strftime(day, '%Y-%m-%d')  
    action_days.append(day)

    action_ids.append(action_id)

    card_name = i_data['card'].get('name')
    card_names.append(card_name)

    list_name = i_data['listAfter'].get('name')
    int_list_name = int(re.search(r'\d+', list_name).group())
    list_names.append(int_list_name)

    before_list_name = i_data['listBefore'].get('name')
    int_before_list = int(re.search(r'\d+', before_list_name).group())
    if int_before_list > int_list_name and int_list_name >1:
      backward_checker.append([len(card_names),action_id,day,int_list_name])
    if  int_list_name > 11:
      select_hiring_checker.append([len(card_names),action_id,day,int_before_list, int_list_name])

In [ ]:
import re
actions_card = []
action_days = []
action_ids = []
card_names = []
list_names = []
choosedays = []
backlog_ckecker = []
backward_checker = []
select_hiring_checker = []


for c,i in enumerate(reversed(data['actions'])):
  action_key_list = [*i['data']]
  i_data = i['data']

  try:
    action_id = i_data['card'].get('id')
    if 'card' in action_key_list and 'list' in action_key_list and action_id in backlog_ckecker :#and i['data']['list']['name'][:2] == '1.' :
      continue
      print(i_data['card']['name'])      
  except:
    continue

  #get list of day,name,list  
  create_record (i)

In [ ]:
len(data['actions'])

89

In [ ]:
# for c,i in enumerate(data['actions']):
#   if i['data']['card']['id'] == '626960f0c3ebf368169df979' :
#     print(c,i['date'],i['data'].keys())
# data['actions'][302]['data']

# data['actions'][1]['data'].keys()
# 'card', 'list', 'board', 'cardSource'

In [ ]:
updated =  {
    'Date' :  action_days,
    'ID' :action_ids,
    'Card' :card_names,
    'List' : list_names,
    'Countworkday' : None,
    'Choosedate' : None,
    'Archived': None,
    'Valid' : None,
}

In [ ]:
updated_df = pd.DataFrame(updated)

In [ ]:
updated_df.tail()

,Date,ID,Card,List,Countworkday,Choosedate,Archived,Valid
14,2022-10-19,633ddaca9aaedc015df5da89,Heather Steele | Records Clerk - Police (2) | ...,11,None,None,None,None
15,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,2,None,None,None,None
16,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,1,None,None,None,None
17,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,1,None,None,None,None
18,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,2,None,None,None,None

## updated_df Edit
- split_name(n) & 12,13,14
- ignore_school crossing guard

### n-repeat row

In [ ]:
test_df = updated_df.loc[updated_df['List']>= 12]

In [ ]:
def find_multiplecard(i):
  card = test_df['Card'].iloc[i]
  card = card.split("|")
  number = re.findall('\(([^)]+)', card[0])
  # list_name = test_df['List'].iloc[i]

  try :
    #if number is on the first "|"
    if len(number) == 1 :
      return int(number[0])
    elif len(re.findall('\(([^)]+)', card[1])) == 1:
      number = re.findall('\(([^)]+)', card[1])
      return int(number[0])  
    else :
      return 1
    
  # except :
  #   #if number is on the second "|"
  #   card = test_df['Card'].iloc[i]
  #   card = card.split("|")[1]
  #   return int(number[0])
  except:
    return 1

In [ ]:
def repeat_nrow(n,i):
  new_rows=[]
  series = test_df.iloc[i]
  # card = test_df.iloc[i]['Card']
  # id = test_df.iloc[i]['ID']

  if n>1:  
    for number in range(2,n+1):
      new_row = series
      card = test_df.iloc[i]['Card']
      card = card.split("|")
      card[0] = f"#{number}_{card[0]}"
      card = "|".join(card)
      new_row['Card'] = card  
      # new_row['ID'] = f'{id}#{number}'
      new_rows.append(new_row)      
    return new_rows

In [ ]:
#find (n), create n row, concat to updated_df
new_rows=[]
for i in range(len(test_df)):
  n = find_multiplecard(i)
  # print(type(n))
  if type(repeat_nrow(n,i)) == list:
    new_rows = repeat_nrow(n,i)
    new_rows = pd.DataFrame(new_rows)
    updated_df = pd.concat([updated_df,new_rows], ignore_index = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [ ]:
# #find (n), create n row, concat to updated_df
# new_rows=[]
# for i in range(len(test_df)):
#   n = find_multiplecard(i)
#   if type(repeat_nrow(n,i)) == list:
#     new_rows = repeat_nrow(n,i)
#     new_rows = pd.DataFrame(new_rows)
#     updated_df = pd.concat([updated_df,new_rows], ignore_index = True)

In [ ]:
updated_df.iloc[310:]

Empty DataFrame
Columns: [Date, ID, Card, List, Countworkday, Choosedate, Archived, Valid]
Index: []

###ignore posting
-School Crossing Guard

In [ ]:
updated_df

,Date,ID,Card,List,Countworkday,Choosedate,Archived,Valid
0,2022-10-19,634851ea49b3ac03c3b295e6,Laborer (4) - Utilities-Transmission and Distr...,4,None,None,None,None
1,2022-10-19,6349b04e5c8d0c01951dfc8e,Customer Relations Representative - Public Wor...,4,None,None,None,None
2,2022-10-19,634851e8886edb0187e14fa9,TFT Customer Service and Security Specialist (...,4,None,None,None,None
3,2022-10-19,633af5f5bf2dda00d310c6f3,Laborer Operations Division/Grounds Maintenanc...,5,None,None,None,None
4,2022-10-19,633af5f5bf2dda00d310c6f3,Laborer Operations Division/Grounds Maintenanc...,6,None,None,None,None
5,2022-10-19,634ec4a688887e00fb3f7e2f,Apprentice Master Technician - Public Works-Fl...,1,None,None,None,None
6,2022-10-19,62e1605cfe503b0d8d5b234a,Charlene Lawson | Team Leader - Public Works P...,13,None,None,None,None
7,2022-10-19,62fa86915d1d1882e6c02e1b,Katherine Zaiger | Assistant Director - Enviro...,13,None,None,None,None
8,2022-10-19,635020df51955300d77aedbc,Leanne Johnson | Customer Relations (3) - Util...,10,None,None,None,None
9,2022-10-19,635020f1dddf920071c7f521,Mary Langley | Customer Relations (3) - Utilit...,10,None,None,None,None
10,2022-10-19,62a8edae3828ac0c39ecb789,Beth Reynolds | Customer Relations (3) - Utili...,13,None,None,None,None
11,2022-10-19,635020df51955300d77aedbc,Leanne Johnson | Customer Relations (3) - Util...,11,None,None,None,None
12,2022-10-19,635020f1dddf920071c7f521,Mary Langley | Customer Relations (3) - Utilit...,11,None,None,None,None
13,2022-10-19,631011de0c403b01cdaa16e2,Robert Grubb | Working Foreperson Urban Forest...,13,None,None,None,None
14,2022-10-19,633ddaca9aaedc015df5da89,Heather Steele | Records Clerk - Police (2) | ...,11,None,None,None,None
15,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,2,None,None,None,None
16,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,1,None,None,None,None
17,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,1,None,None,None,None
18,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,2,None,None,None,None
19,2022-10-19,62a8edae3828ac0c39ecb789,#3_Beth Reynolds | Customer Relations (3) - Ut...,13,None,None,None,None
20,2022-10-19,62a8edae3828ac0c39ecb789,#3_Beth Reynolds | Customer Relations (3) - Ut...,13,None,None,None,None

In [ ]:
# ignore_strings = ['School Crossing Guard']
# for i in range(len(updated_df)):
#     try : 
#       card = updated_df['Card'][i]
#       for j in ignore_strings:
#         result = updated_df[updated_df['Card'].str.find(f'{j}') >0]
#         result = result.loc[updated_df['List'] < 10].index
#         updated_df = updated_df.drop(result)
#     except:
#       continue

In [ ]:
# def ignore_posting(card):
ignore_strings = ['School Crossing Guard']
def remove_ignore(updated_df, ignore_strings):
  for i in range(len(updated_df)):
    try : 
      card = updated_df['Card'][i]
      for j in ignore_strings:
        result = updated_df[updated_df['Card'].str.find(f'{j}') >0]
        result = result.loc[updated_df['List'] < 11].index
        updated_df = updated_df.drop(result)
    except:
      continue
    return updated_df.reset_index(drop=True)

In [ ]:
updated_df = remove_ignore(updated_df, ignore_strings)

In [ ]:
updated_df

,Date,ID,Card,List,Countworkday,Choosedate,Archived,Valid
0,2022-10-19,634851ea49b3ac03c3b295e6,Laborer (4) - Utilities-Transmission and Distr...,4,None,None,None,None
1,2022-10-19,6349b04e5c8d0c01951dfc8e,Customer Relations Representative - Public Wor...,4,None,None,None,None
2,2022-10-19,634851e8886edb0187e14fa9,TFT Customer Service and Security Specialist (...,4,None,None,None,None
3,2022-10-19,633af5f5bf2dda00d310c6f3,Laborer Operations Division/Grounds Maintenanc...,5,None,None,None,None
4,2022-10-19,633af5f5bf2dda00d310c6f3,Laborer Operations Division/Grounds Maintenanc...,6,None,None,None,None
5,2022-10-19,634ec4a688887e00fb3f7e2f,Apprentice Master Technician - Public Works-Fl...,1,None,None,None,None
6,2022-10-19,62e1605cfe503b0d8d5b234a,Charlene Lawson | Team Leader - Public Works P...,13,None,None,None,None
7,2022-10-19,62fa86915d1d1882e6c02e1b,Katherine Zaiger | Assistant Director - Enviro...,13,None,None,None,None
8,2022-10-19,635020df51955300d77aedbc,Leanne Johnson | Customer Relations (3) - Util...,10,None,None,None,None
9,2022-10-19,635020f1dddf920071c7f521,Mary Langley | Customer Relations (3) - Utilit...,10,None,None,None,None
10,2022-10-19,62a8edae3828ac0c39ecb789,Beth Reynolds | Customer Relations (3) - Utili...,13,None,None,None,None
11,2022-10-19,635020df51955300d77aedbc,Leanne Johnson | Customer Relations (3) - Util...,11,None,None,None,None
12,2022-10-19,635020f1dddf920071c7f521,Mary Langley | Customer Relations (3) - Utilit...,11,None,None,None,None
13,2022-10-19,631011de0c403b01cdaa16e2,Robert Grubb | Working Foreperson Urban Forest...,13,None,None,None,None
14,2022-10-19,633ddaca9aaedc015df5da89,Heather Steele | Records Clerk - Police (2) | ...,11,None,None,None,None
15,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,2,None,None,None,None
16,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,1,None,None,None,None
17,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,1,None,None,None,None
18,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,2,None,None,None,None
19,2022-10-19,62a8edae3828ac0c39ecb789,#3_Beth Reynolds | Customer Relations (3) - Ut...,13,None,None,None,None
20,2022-10-19,62a8edae3828ac0c39ecb789,#3_Beth Reynolds | Customer Relations (3) - Ut...,13,None,None,None,None

In [ ]:
len(updated_df)

21

## Save to Google Sheets

In [ ]:
len(df['ID'])

771

###date, id, title, list_no

In [ ]:
len_updated_df = len(updated_df.columns)

In [ ]:
list_updated_df = updated_df.values.tolist()

In [ ]:
cell_values = []
for i in list_updated_df : 
  for j in range(len_updated_df) : 
    cell_values.append(i[j])
len(cell_values)

168

In [ ]:
length_df = len(df)+2
length_end = length_df + len(updated_df) -1
print(length_df, length_end)

773 793

In [ ]:
start_cell = "A%d"%length_df
end_cell = "H%d"%length_end 
cell_range = f"{start_cell}:{end_cell}"
print(cell_range)

A773:H793

In [ ]:
cell_list = worksheet.range(cell_range)
len(cell_list)

168

In [ ]:
for c, cell in enumerate(cell_list):
  cell.value = cell_values[c]
  #print(c,cell)

In [ ]:
worksheet.update_cells(cell_list)

{'spreadsheetId': '1bJjX4OQt_WE6qW-57IRaXqBafMuojdfK42xL4QU5jX4',
 'updatedRange': 'Sheet1!A773:D793',
 'updatedRows': 21,
 'updatedColumns': 4,
 'updatedCells': 84}

## Edit worksheet
- backward remove
- Choose date
- Archieved
- Valid

In [ ]:
worksheet = gc.open('Nomal Data').sheet1
df = pd.DataFrame(worksheet.get_all_records())

###ignore backword list

In [ ]:
def remove_backwards(backward_checker):
  for i in backward_checker:
    index = i[0]
    action_id = i[1]
    day = i[2]
    # int_before_list = i[3]
    int_list_name =i[3]
    max_search = index + length_df -3
    test_df = df.iloc[:max_search]
    test_index = test_df.loc[(test_df['ID'] == action_id) & (test_df['List'] >= int_list_name) & (test_df['Date'] <= day)].index

    for j in test_index :
          index = j
          col=int(j+2)
          val = int(df['List'][j]-100)
          worksheet.update_cell(col,4, val)
          print("cols",col,val)
          # print(int_before_list,int_list_name)

In [ ]:
remove_backwards(backward_checker)

### Select 12,13,14

In [ ]:
select_hiring_checker

[[7, '62e1605cfe503b0d8d5b234a', '2022-10-19', 10, 13],
 [8, '62fa86915d1d1882e6c02e1b', '2022-10-19', 10, 13],
 [11, '62a8edae3828ac0c39ecb789', '2022-10-19', 10, 13],
 [14, '631011de0c403b01cdaa16e2', '2022-10-19', 10, 13]]

In [ ]:
def hiring_checker(select_hiring_checker):
  for i in select_hiring_checker:
    index = i[0]
    action_id = i[1]
    day = i[2]
    int_before_list = i[3]
    int_list_name =i[4]
    max_search = index + length_df -3
    test_df = df.iloc[:max_search]
    # over15, ignore all hiring
    if int_list_name > 14:
      test_index = test_df.loc[(test_df['ID'] == action_id) & (test_df['List'] >= 12) & (test_df['Date'] <= day)].index
      print(test_index)
    #erase duplicate in 12,13,14
    elif int_list_name > 11:
      test_index = test_df.loc[(test_df['ID'] == action_id) & (test_df['List'] >= 12) & (test_df['Date'] <= day)].index
      test_index = test_index[:-1]
      # print("elif")

    for j in test_index :
          index = j
          col=int(j+2)
          val = int(df['List'][j]-1000)
          worksheet.update_cell(col,4, val)
          print("cols",col,val)
          # print(int_before_list,int_list_name)

In [ ]:
hiring_checker(select_hiring_checker)

### Choose date

In [ ]:
def create_closingdate (select_closingdate):
  if len(select_closingdate.loc[(df['List'] == 4)]) >0 :
  #List 4
    select_closingdate = select_closingdate.loc[(df['List'] == 4)]

    index = select_closingdate.index[0]
    card = select_closingdate['Card']
    card = card[index].split("|")
    card = card[-1].strip()
    card = datetime.strptime(card, '%m-%d-%Y').date()
    date = select_closingdate['Date']
    date = date[index]
    date = datetime.strptime(date, '%Y-%m-%d').date()
    
    if card > date :
      closingdate = card
    return closingdate

  #List5,6,7,8
  elif len(select_closingdate.loc[(df['List'] >= 5) & (df['List'] <= 8)]) > 0 :
      select_closingdate = select_closingdate.loc[(df['List'] >= 5) & (df['List'] <= 8)]

      try : 
        index = select_closingdate.index[0]
        card = select_closingdate['Card']
        card = card[index].split("|")
        card = card[-1].strip()
        card = datetime.strptime(card, '%m-%d-%Y').date()
        date = select_closingdate['Date']
        date = min(date)
        date = datetime.strptime(date, '%Y-%m-%d').date()  

        if card <= date :
          closingdate = card
        return closingdate
      except :
        closingdate = min(select_closingdate['Date'])
        return closingdate  
  #no maching card_id      
  elif len(select_closingdate.loc[(df['List'] >= 4) & (df['List'] <= 8)]) < 1 :

    select_closingdate = df.loc[(df['List'] >= 4) & (df['List'] <= 8)]
    
    try :
      reference = card_name.split("|")[-2].strip()
      select_closingdate = select_closingdate.loc[(df['Card'].str.find(reference)>0)]
      index = select_closingdate.index[0]
      card = select_closingdate['Card']
      card = card[index].split("|")
      card = card[-1].strip()
      card = datetime.strptime(card, '%m-%d-%Y').date()
      date = select_closingdate['Date']
      date = min(date)
      date = datetime.strptime(date, '%Y-%m-%d').date()
      if card <= date :
        closingdate = card
        return closingdate
      else :
        closingdate = min(select_closingdate['Date'])
        return closingdate
    
    except :
      closingdate = 0
      return closingdate

  # else :
  #   select_closingdate = select_closingdate.loc[(df['List'] >= 5) & (df['List'] <= 8)]

In [ ]:
###############newe code
choosedates = []

for i in range(len(updated_df)) : 
  card_name = updated_df['Card'][i]
  list_name = updated_df['List'][i]
  action_id = updated_df['ID'][i]
  select_closingdate = df.loc[(df['ID'] == action_id)]  

  try :
    if list_name == 12 or list_name == 13 or list_name == 14 :
      choosedate = create_closingdate(select_closingdate)
    else: 
      choosedate = df.loc[(df['List'] == 1) & (df['ID'] == action_id)]
      choosedate = min(choosedate['Date'])
    choosedates.append(choosedate)
  #no date value
  except:    
    #no_date_df.append(action_id)
    choosedates.append(0)

In [ ]:
updated_df['Choosedate'] = choosedates

In [ ]:
updated_df.tail()

,Date,ID,Card,List,Countworkday,Choosedate,Archived,Valid
16,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,1,None,2022-10-17,None,None
17,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,1,None,2022-10-17,None,None
18,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,2,None,2022-10-17,None,None
19,2022-10-19,62a8edae3828ac0c39ecb789,#3_Beth Reynolds | Customer Relations (3) - Ut...,13,None,2022-07-14,None,None
20,2022-10-19,62a8edae3828ac0c39ecb789,#3_Beth Reynolds | Customer Relations (3) - Ut...,13,None,2022-07-14,None,None

In [ ]:
updated_df['Choosedate'].value_counts()

0             5
2022-10-17    4
2022-07-14    3
2022-10-13    2
2022-10-03    2
2022-10-14    1
2022-10-18    1
2022-08-29    1
2022-09-05    1
2022-09-21    1
Name: Choosedate, dtype: int64

In [ ]:
# df without countdate,
df = pd.DataFrame(worksheet.get_all_records())

In [ ]:
updated_df.loc[(updated_df['List'] == 1)]

,Date,ID,Card,List,Countworkday,Choosedate,Archived,Valid
5,2022-10-19,634ec4a688887e00fb3f7e2f,Apprentice Master Technician - Public Works-Fl...,1,None,2022-10-18,None,None
16,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,1,None,2022-10-17,None,None
17,2022-10-19,634d8b52d13e050127c65863,Sports Specialist - Parks | 10-17-2022,1,None,2022-10-17,None,None

###Count workday

In [ ]:
from pandas.core.computation.scope import Timestamp
import datetime
import numpy as np
from datetime import timedelta

In [ ]:
def count_workday(i):
  choosedate = pd.Timestamp(updated_df['Choosedate'][i]).date()
  date = pd.Timestamp(updated_df['Date'][i]).date()
  holiday = ['2022-01-03' ,'2022-01-17', '2022-04-15', '2022-05-03', '2022-05-30', '2022-06-20', '2022-07-04', '2022-09-05', '2022-11-08', '2022-11-11', '2022-11-24', '2022-11-25', '2022-12-26']

  start = choosedate + timedelta(days=1)
  end =  date + timedelta(days=1)
  workday = np.busday_count(start, end, holidays= holiday)
  return workday

In [ ]:
f = lambda x: x
df_nums = [f(x) for x in range(len(updated_df))]

In [ ]:
updated_df['Countworkday'] = list(map(count_workday,[f(x) for x in df_nums] ))

In [ ]:
updated_df.head()

,Date,ID,Card,List,Countworkday,Choosedate,Archived,Valid
0,2022-10-19,634851ea49b3ac03c3b295e6,Laborer (4) - Utilities-Transmission and Distr...,4,4,2022-10-13,None,None
1,2022-10-19,6349b04e5c8d0c01951dfc8e,Customer Relations Representative - Public Wor...,4,3,2022-10-14,None,None
2,2022-10-19,634851e8886edb0187e14fa9,TFT Customer Service and Security Specialist (...,4,4,2022-10-13,None,None
3,2022-10-19,633af5f5bf2dda00d310c6f3,Laborer Operations Division/Grounds Maintenanc...,5,12,2022-10-03,None,None
4,2022-10-19,633af5f5bf2dda00d310c6f3,Laborer Operations Division/Grounds Maintenanc...,6,12,2022-10-03,None,None

##SAVE to google

In [ ]:
# for c,i in enumerate(updated_df['Countworkday']):
#       index = length_df
#       col=index + c
#       countwork_day = i
#       choosing_day = str(pd.Timestamp(updated_df['Choosedate'][c]).date())
#       worksheet.update_cell(col,5, countwork_day)
#       # worksheet.update_cell(col,6, choosing_day)
#       print("cols",col,choosing_day,type(choosing_day))

In [ ]:
updated_df.iloc[100:]

Empty DataFrame
Columns: [Date, ID, Card, List, Countworkday, Choosedate, Archived, Valid]
Index: []

In [ ]:
updated_df.iloc[:,-4:]

    Countworkday  Choosedate Archived Valid
0              4  2022-10-13     None  None
1              3  2022-10-14     None  None
2              4  2022-10-13     None  None
3             12  2022-10-03     None  None
4             12  2022-10-03     None  None
5              1  2022-10-18     None  None
6             36  2022-08-29     None  None
7             32  2022-09-05     None  None
8          13766           0     None  None
9          13766           0     None  None
10            68  2022-07-14     None  None
11         13766           0     None  None
12         13766           0     None  None
13            20  2022-09-21     None  None
14         13766           0     None  None
15             2  2022-10-17     None  None
16             2  2022-10-17     None  None
17             2  2022-10-17     None  None
18             2  2022-10-17     None  None
19            68  2022-07-14     None  None
20            68  2022-07-14     None  None

In [ ]:
list_updated_df = updated_df.iloc[:,-4:].values.tolist()

In [ ]:
len(list_updated_df)

21

In [ ]:
len_updated_df = 4

In [ ]:
cell_values = []
for i in list_updated_df : 
  for j in range(len_updated_df) : 
    cell_values.append(str(i[j]))

len(cell_values)

84

In [ ]:
print(length_df, length_end)

773 793

In [ ]:
start_cell = "E%d"%length_df
end_cell = "H%d"%length_end 
cell_range = f"{start_cell}:{end_cell}"
print(cell_range)

E773:H793

In [ ]:
cell_list = worksheet.range(cell_range)
len(cell_list)

84

In [ ]:
for c, cell in enumerate(cell_list):
  cell.value = cell_values[c]

In [ ]:
worksheet.update_cells(cell_list)

{'spreadsheetId': '1bJjX4OQt_WE6qW-57IRaXqBafMuojdfK42xL4QU5jX4',
 'updatedRange': 'Sheet1!E773:H793',
 'updatedRows': 21,
 'updatedColumns': 4,
 'updatedCells': 84}